In [2]:
import pandas as pd

##### Pandas Series

In [8]:
# Creación de series a partir de una lista
temperaturas = pd.Series([25.2, 24.8, 26.1, 25.3, 24.9])
temperaturas

0    25.2
1    24.8
2    26.1
3    25.3
4    24.9
dtype: float64

In [7]:
# Calcular temperaturas máximas y mínimas
max_temp = temperaturas.max()
min_temp = temperaturas.min()
print("Temperatura máxima:", max_temp)
print("Temperatura mínima:", min_temp)

Temperatura máxima: 26.1
Temperatura mínima: 24.8

In [ ]:
# Creación de series a partir de un diccionario.
# Las keys del diccionario serán los índices de la serie
temperaturas = {'Madrid': 14.2, 'Salamanca': 10.2, 'Cáceres': 23, 'Badajoz': 14.3, 'Sevilla': 25.7}
serie = pd.Series(temperaturas)
serie

Madrid       14.2
Salamanca    10.2
Cáceres      23.0
Badajoz      14.3
Sevilla      25.7
dtype: float64

In [16]:
# Acceder a elementos de la serie
print("Temperatura en Sevilla:", serie['Sevilla'])
print("Temperatura en Salamanca:", serie['Salamanca'])

Temperatura en Sevilla: 25.7
Temperatura en Salamanca: 10.2

In [17]:
# Creación de series a partir de un array NumPy
import numpy as np
array = np.array([1, 2, 3, 4, 5])
serie = pd.Series(array)
serie

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [ ]:
# Creación de una serie con valores aleatorios.
# Los valores serán enteros aleatorios entre 10 y 100
import numpy as np
serie = pd.Series(np.random.randint(low=10, high=100, size=10))
serie

0    19
1    93
2    87
3    19
4    44
5    50
6    92
7    64
8    34
9    50
dtype: int32