### Operaciones con series.

In [1]:
import pandas as pd

In [5]:
# Tamaño, index, tipo de datos y valores.
# Estamos hablando de propiedades, no de métodos.
precios = pd.Series([1.90, 2.10, 2.20, 3.90, 1.95, 1.35], 
        index=['tomate', 'pera', 'manzana', 'plátanos', 'sandía', 'melón'])
print(f"Nº de elementos: {precios.size}")
print(f"Index: {precios.index}")
print(f"Tipo de datos: {precios.dtype}")
print(f"Valores: {precios.values}")

Nº de elementos: 6
Index: Index(['tomate', 'pera', 'manzana', 'plátanos', 'sandía', 'melón'], dtype='object')
Tipo de datos: float64
Valores: [1.9  2.1  2.2  3.9  1.95 1.35]

In [8]:
# Convertir la serie en un Numpy array
np_precios = precios.to_numpy()
np_precios

array([1.9 , 2.1 , 2.2 , 3.9 , 1.95, 1.35])

In [19]:
# Realizar un reindex o reordenar la serie

temperaturas = pd.Series(
    {'Madrid': 14.2, 'Salamanca': 10.2, 'Cáceres': 23, 'Badajoz': 14.3, 'Sevilla': 25.7}
)
nuevo_orden = ['Sevilla', 'Madrid', 'Badajoz', 'Salamanca', 'Cáceres']
serie_reordenada = temperaturas.reindex(nuevo_orden)
print(f"Serie Reordenada:\n{serie_reordenada}")

Serie Reordenada:
Sevilla      25.7
Madrid       14.2
Badajoz      14.3
Salamanca    10.2
Cáceres      23.0
dtype: float64

In [21]:
# Ordenar la serie por valor.
temperaturas = pd.Series(
    {'Madrid': 14.2, 'Salamanca': 10.2, 'Cáceres': 23, 'Badajoz': 14.3, 'Sevilla': 25.7}
)
ordenada = temperaturas.sort_values(ascending=True)
ordenada

Salamanca    10.2
Madrid       14.2
Badajoz      14.3
Cáceres      23.0
Sevilla      25.7
dtype: float64

In [22]:
# Unir varias series mediante concat.
s1 = pd.Series([1, 3, 5, 7, 9])
s2 = pd.Series([2, 4, 6, 8 ,10])
s3 = pd.Series([15, 25, 35, 45, 55])
serie = pd.concat([s1, s2, s3])
serie

0     1
1     3
2     5
3     7
4     9
0     2
1     4
2     6
3     8
4    10
0    15
1    25
2    35
3    45
4    55
dtype: int64

In [27]:
# Preguntar si la serie contiene un índice o un valor
temperaturas = pd.Series(
    {'Madrid': 14.2, 'Salamanca': 10.2, 'Cáceres': 23, 'Badajoz': 14.3, 'Sevilla': 25.7}
)
# Preguntar por un índice
# print('Madrid' in temperaturas)
# print('Mónaco' in temperaturas)

# Preguntar por un valor
print(temperaturas.isin([10.2, 14.3, 35.5]))

Madrid       False
Salamanca     True
Cáceres      False
Badajoz       True
Sevilla      False
dtype: bool

In [ ]:
# Operaciones aritméticas con series.
# La serie original no cambia.
numeros = pd.Series([10, 20, 25, 30, 25, 40])
numeros % 2

0    0
1    0
2    1
3    0
4    1
5    0
dtype: int64

In [ ]:
# Aplicar función a serie median te apply.
# La serie original no cambia.
def doble(x):
    return x * 2

nuevos_numeros = numeros.apply(doble)
nuevos_numeros

0    20
1    40
2    50
3    60
4    50
5    80
dtype: int64

In [36]:
# Sumar dos series.
s1 = pd.Series([10, 20, 30, 40, 50])
s2 = pd.Series([5, 5, 5, 5])
s3 = s1 + s2
s3

0    15.0
1    25.0
2    35.0
3    45.0
4     NaN
dtype: float64

In [ ]:
# Varios métodos de las series.
alturas = pd.Series([1.9, 2.1, 2.2, 3.9, 1.95, 1.80, 1.80, 1.90])
print(f"Altura mayor: {alturas.max()}")
print(f"Media de las alturas: {alturas.mean()}")
print(f"Moda: {alturas.mode()}")

Altura mayor: 3.9
Media de las alturas: 2.19375
Moda: 0    1.8
1    1.9
dtype: float64
Varianza: 0.49459821428571427