### Filtros en series

In [15]:
import pandas as pd
import numpy as np

In [23]:
# Filtro sencillo: una condición.
numeros = pd.Series([10, 20, 30, 45, 11, 23, 24])
pares = numeros % 2 == 0   # condición
numeros_pares = numeros[pares]   # aplicación de la condición
numeros_pares

0    10
1    20
2    30
6    24
dtype: int64

In [ ]:
# Creación de la serie
productos = pd.Series({'Manzana': 3.20, 'Pera': 2.50, 'Naranja': 1.50, 
    'Limón': 4.00, 'Nectarina': np.nan, 'Platano': 4.10, 'Melón': 1.85, 
    'Aguacate': np.nan
})

In [18]:
# Condición compuesta. Productos con precio menor que 2 o mayor que 4.
seleccion = (productos < 2 ) | (productos > 4)
seleccionados = productos[seleccion]
seleccionados

Naranja    1.50
Platano    4.10
Melón      1.85
dtype: float64

In [17]:
# Condición sencilla. Productos con precio igual o superior a 4.
caros = productos >= 4.0
productos_caros = productos[caros]
productos_caros

Limón      4.0
Platano    4.1
dtype: float64

In [20]:
# Obtener productos sin precio: nulos
nulos = productos.isnull()
sin_precio = productos[nulos]
sin_precio

Nectarina   NaN
Aguacate    NaN
dtype: float64

In [21]:
# Obtener los productos con precio: no nulos.
sin_nulos = productos.notnull()
con_precio = productos[sin_nulos]
con_precio

Manzana    3.20
Pera       2.50
Naranja    1.50
Limón      4.00
Platano    4.10
Melón      1.85
dtype: float64

In [24]:
# Filtros con isin().
productos = pd.Series({'Manzana': 3.20, 'Pera': 2.50, 'Naranja': 1.50, 
    'Limón': 4.00, 'Nectarina': np.nan, 'Platano': 4.10, 'Melón': 1.85, 
    'Aguacate': np.nan
})

In [ ]:
# Filtrar por índice.
buscados = ['Naranja', 'Platano', 'Melón']
productos_buscados = productos[productos.index.isin(buscados)]
productos_buscados

Naranja    1.50
Platano    4.10
Melón      1.85
dtype: float64

In [30]:
# Filtrar por valor.
buscados = [1.50, 4.10, 1.85]
productos_buscados = productos[productos.isin(buscados)]
productos_buscados

Naranja    1.50
Platano    4.10
Melón      1.85
dtype: float64

In [35]:
# Filtros. Nulos y no nulos.
productos = pd.Series({'Manzana': 3.20, 'Pera': 2.50, 'Naranja': 1.50, 
    'Limón': 4.00, 'Nectarina': np.nan, 'Platano': 4.10, 'Melón': 1.85, 
    'Aguacate': np.nan
})

In [ ]:
# Obtener los productos que no tiene precio (np.nan)
sin_precio = productos.isnull()
productos_sin_precio = productos[sin_precio]
productos_sin_precio

Nectarina   NaN
Aguacate    NaN
dtype: float64

In [34]:
# Obtener los productos que tienen precio (no np.nan)
sin_nulos = productos.notnull()
productos_con_precio = productos[sin_nulos]
productos_con_precio

Manzana    3.20
Pera       2.50
Naranja    1.50
Limón      4.00
Platano    4.10
Melón      1.85
dtype: float64