## Ejercicios 4.
1. Crea una Serie de Pandas llamada temp_ciudades a partir del diccionario temperaturas_verano. temperaturas_verano = {'Madrid': 32.5, 'Barcelona': 28.0, 'Valencia': 30.1, 'Sevilla': 38.2, 'Bilbao': 24.5, 'Málaga': 31.0, 'Granada': np.nan, 'Zaragoza': 35.0, 'Palma': np.nan}
2. Filtrado de Nulos:
   1. Muestra las ciudades para las cuales no hay datos de temperatura (es decir, tienen NaN).
   2. Muestra las ciudades para las cuales sí hay datos de temperatura (es decir, no tienen NaN).
3. Filtrado Combinado (con y sin nulos):
   1. Muestra las ciudades con temperatura superior a 30.0 (los NaN no deben aparecer).
   2. Muestra las ciudades cuya temperatura es inferior a 25.0 o son NaN. (Observa cómo NaNs se comportan en las comparaciones).
4. Filtrado Avanzado:
   1. Paso 1: Filtra la serie para quedarte solo con las ciudades que tienen datos de temperatura válidos (no NaN).
   2. Paso 2: De esa nueva serie, filtra las ciudades cuyas temperaturas son mayores o iguales a 30.0.

In [2]:
import pandas as pd
import numpy as np

In [3]:
# 1. Crea una Serie de Pandas llamada temp_ciudades a partir del diccionario temperaturas_verano. 
temperaturas_verano = {'Madrid': 32.5, 'Barcelona': 28.0, 'Valencia': 30.1, 'Sevilla': 38.2, 'Bilbao': 24.5, 'Málaga': 31.0, 'Granada': np.nan, 'Zaragoza': 35.0, 'Palma': np.nan}
temperaturas = pd.Series(temperaturas_verano)
temperaturas

Madrid       32.5
Barcelona    28.0
Valencia     30.1
Sevilla      38.2
Bilbao       24.5
Málaga       31.0
Granada       NaN
Zaragoza     35.0
Palma         NaN
dtype: float64

In [4]:
# 2. Filtrado de Nulos: Muestra las ciudades para las cuales no hay datos de temperatura (es decir, tienen NaN).
sin_datos = temperaturas.isnull()
result = temperaturas[sin_datos]
result

Granada   NaN
Palma     NaN
dtype: float64

In [7]:
# 2. Filtrado de Nulos: Muestra las ciudades para las cuales sí hay datos de temperatura (es decir, no tienen NaN).
# Podemos usar la función notnull() o bien negar isnull().
result = temperaturas[~sin_datos]
result

Madrid       32.5
Barcelona    28.0
Valencia     30.1
Sevilla      38.2
Bilbao       24.5
Málaga       31.0
Zaragoza     35.0
dtype: float64

In [ ]:
# 3. Filtrado Combinado (con y sin nulos): Muestra las ciudades con temperatura superior a 30.0 (los NaN no deben aparecer).
# No es necesario usar notnull(), ya que al comparar con NaN, el resultado es siempre False.

temp_sup_30 = temperaturas > 30.0
con_datos = temperaturas.notnull()
result = temperaturas[temp_sup_30]
result

Madrid      32.5
Valencia    30.1
Sevilla     38.2
Málaga      31.0
Zaragoza    35.0
dtype: float64

In [10]:
# 3. Filtrado Combinado (con y sin nulos):Muestra las ciudades cuya temperatura es inferior a 25.0 o son NaN. 
# (Observa cómo NaNs se comportan en las comparaciones).
temp_inf_25 = temperaturas < 25.0
sin_datos = temperaturas.isnull()
result = temperaturas[temp_inf_25 | sin_datos]
result

Bilbao     24.5
Granada     NaN
Palma       NaN
dtype: float64

In [13]:
# 4. Filtrado Avanzado: 
# Paso 1: Filtra la serie para quedarte solo con las ciudades que tienen datos de temperatura válidos (no NaN).
# Paso 2: De esa nueva serie, filtra las ciudades cuyas temperaturas son mayores o iguales a 30.0.
sin_nulos = temperaturas.notnull()
datos_sin_nulos = temperaturas[sin_nulos]
temp_me_30 = temperaturas >= 30.0
result = datos_sin_nulos[temp_me_30]
result

Madrid      32.5
Valencia    30.1
Sevilla     38.2
Málaga      31.0
Zaragoza    35.0
dtype: float64